$primary: #fba300;
$bg: #fffdfc;
$darker: #4e4a55;
$dark: #75727b;
$lighter: #e9e8eb;
$light: #d9d9d9;

@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $dark;
  font-family: "Inter";
  margin: 0;
  padding: 1rem 2rem;
}

progress {
  border-radius: 10px;
  height: 9px;
}
progress::-webkit-progress-bar {
  background-color: $light;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: $primary;
  border-radius: 10px;
}
progress::-moz-progress-bar {
  background-color: $primary;
  border-radius: 10px;
}
